<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SWITCH</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="dist/css/ratchet.min.css">
    <link rel="stylesheet" href="dist/css/ratchet-theme-ios.min.css">
    <script src="dist/js/ratchet.min.js"></script>
  </head>
  <body>
    <header class="bar bar-nav">
      <h1 class="title">SWITCH</h1>
    </header>

    <div class="content">
    <ul class="table-view">
      <li class="table-view-cell media">
        <a id="details_1.html" class="navigate-right"  data-transition="slide-in">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 1
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell media">
        <a id="details_2.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 2
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell media">
        <a id="details_3.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 3
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
     <li class="table-view-cell media">
        <a id="details_4.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 4
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
     <li class="table-view-cell media">
        <a id="details_5.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item5
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
     <li class="table-view-cell media">
        <a id="details_6.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 6
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
     <li class="table-view-cell media">
        <a id="details_7.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 7
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
     <li class="table-view-cell media">
        <a id="details_8.html" class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            Item 8
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
      </ul>

    </div><!-- /.content -->


  </body>
</html>
