{% extends 'base.html.twig' %}

{% block body %}
    <header class="bar bar-nav">
        <a class="icon icon-plus pull-right" href="{{ url('add') }}" data-transition="slide-in"></a>
        <h1 class="title">ToTo</h1>
    </header>
    <div class="content">
        <ul class="table-view">
            <li class="table-view-cell media">
                <a href="/details" data-transition="slide-in">
                    <div class="media-object pull-left">
                        <input type="checkbox">
                    </div>
                    <div class="media-body">Tax declaration</div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="/details" data-transition="slide-in">
                    <div class="media-object pull-left">
                        <input type="checkbox">
                    </div>
                    <div class="media-body">Translate letter from Gaswerke to english</div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="/details" data-transition="slide-in">
                    <div class="media-object pull-left">
                        <input type="checkbox">
                    </div>
                    <div class="media-body">Terminate contract with mobile provider</div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a href="/details" data-transition="slide-in">
                    <div class="media-object pull-left">
                        <input type="checkbox">
                    </div>
                    <div class="media-body">Take car to TÜV</div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
